<!-- Declaracao do tipo de documento HTML5 -->
<!DOCTYPE html>
<!-- A propriedade Lang define a linguagem -->
<html lang="pt">


<head>
	<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<META NAME="KEYWORDS" CONTENT="ong, organização social, instituto, projeto social">
	<META NAME="Description" CONTENT="Informações sobre ONGs, organizações sociais, oscips, fundações, Associações, etc. Exibe comentários, fotos e vídeos sobre as ongs cadastradas. Descubra como doar ou fazer trabalho voluntário.">
	<title>Cadastro de ONG - Portal das Ongs</title>
	<link rel="icon" type="image/png" href="images/favicon.png" />
	<!-- <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
	<!-- <link href="css/bootstrap-responsive.min.css" rel="stylesheet"> -->
	<link href="estiloOngs.css" rel="stylesheet" type="text/css">
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	
	
</head>

<body>
	<div class="container-fluid" >
		<div class="row">
			<div class="col-md-12 col-sm-12 hidden-xs " >
				<div class="row" style="height:80px;background-color:#146;">
					<div class="container">
						<div class="col-md-2 col-sm-2 hidden-xs" >
							<div style="padding-top:10px;">
								<a href="/"><img src="images/portal-logo.png" width="84" height="60" border="0" alt="Portal das ONGs"></a>
							</div>
						</div>
						<div class="col-md-8 hidden-sm hidden-xs" style="padding-top:25px;" >
							<form name="frmPesquisarPadrinho" ">
								<span class="textobarrapesquisa">Cidade:</span></td>
								<input type="Text" name="cidade" size="18" maxlength="100" />&nbsp;&nbsp;
								<span class="textobarrapesquisa">Tipo: </span>
								<select size="1" name="tipo" style="height:27px;">
									<option value=""></option>          
									<option value="Animais">ONGs de Animais</option>        
									<option value="Apoio a Mulheres">ONGs de Apoio a Mulheres</option>        
									<option value="Arte">ONGs de Arte</option>        
									<option value="Crianças">ONGs de Crianças</option>        
									<option value="Cultura">ONGs de Cultura</option>        
									<option value="Dependentes Químicos">ONGs de Dependentes Químicos</option>        
									<option value="Direitos Humanos">ONGs de Direitos Humanos</option>        
									<option value="Doação de Órgãos">ONGs de Doação de Órgãos</option>        
									<option value="Educação">ONGs de Educação</option>        
									<option value="Educação Ambiental">ONGs de Educação Ambiental</option>        
									<option value="Finanças">ONGs de Finanças</option>        
									<option value="Geração de Renda">ONGs de Geração de Renda</option>        
									<option value="Idosos">ONGs de Idosos</option>        
									<option value="Medicamentos">ONGs de Medicamentos</option>        
									<option value="Meio Ambiente">ONGs de Meio Ambiente</option>        
									<option value="Moradia">ONGs de Moradia</option>        
									<option value="Reciclagem">ONGs de Reciclagem</option>        
									<option value="Saúde">ONGs de Saúde</option>        
									<option value="Situações de Emergência">ONGs de Situações de Emergência</option>        
									<option value="Tecnologia">ONGs de Tecnologia</option>        
									<option value="Trabalho">ONGs de Trabalho</option>        
									<option value="Voluntariado">ONGs de Voluntariado</option>        
											  
								</select>&nbsp;
								<input type="submit" style="background-color:#f0ad4e;border-style:none;" class="btn btn-md btn-primary" value="Filtrar" name="Btn" >
							</form>


							</div>
							<div class="col-md-2 hidden-sm hidden-xs" style="padding-top:25px;" >
								<a href="/" target="_blank"><img src="images/icone_facebook.png" width="30" height="30" border="0" alt="facebook Portal das Ongs"></a>
								<a href="/" target="_blank"><img src="images/icone_instagram.png" width="30" height="30" border="0" alt="instagram Portal das Ongs"></a>
								<a href="/" target="_blank"><img src="images/icone_twitter.png" width="30" height="30" border="0" alt="twitter Portal das Ongs"></a>
							</div>
							
						</div>
					</div>
			
					<div class="row" style="height:40px;background-color:#f0ad4e;color:#fff;padding-top:5px;font-size:14px;">
						<div class="container" >
							<div class="col-md-1 col-sm-1 hidden-xs"  style="padding-top:8px;">
								<div style="display:inline;">
								<!-- <a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true" style="color:#fff;"></span></a> -->
								</div>
							</div>	
					
					<!-- barra de menu para desktop -->
					<div class="col-md-10 hidden-sm hidden-xs" style="margin-left:-50px;" >
						
						<a href="/cadastroVoluntario"><span style="color:#fff"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> <B>HOME&nbsp;&nbsp;|&nbsp;&nbsp;</B></span></a>
						<a href="/cadastroVoluntario"><span style="color:#fff"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <B>CADASTRO DE VOLUNTÁRIO&nbsp;&nbsp;|&nbsp;&nbsp;</B></span></a>
						<a href="/cadastroOng"><span style="color:#fff"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <B>CADASTRO DE ONG&nbsp;&nbsp;|&nbsp;&nbsp;</B></span></a>
						
						<div class="dropdown" style="color:#fff;display:inline;padding-top:-7px;">
						  <button style="background-color:transparent;border-style:none;color:#fff;font-size:14px;" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							<B>APRENDA</B>
							<span class="caret"></span>
						  </button>|&nbsp;&nbsp;
						  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							<li><a href="/aprendaOng">O que é uma ONG</a></li>
							<li><a href="/aprendaCriarOng">Como criar uma ONG</a></li>
						  </ul>
						</div>
						<a href="/sobre"><span style="color:#fff"><b>SOBRE &nbsp;&nbsp;|&nbsp;&nbsp;</b></span></a>
						<a data-toggle="modal" href="#modalLogin"><span style="color:#fff"><span class="glyphicon glyphicon-log-in"></span><b> &nbsp;Login<b></a>
					</div>
					<!--fim da barra de menu para desktop -->
					
					
					<!-- barra de menu para tablet -->
					<div class="hidden-lg hidden-md col-sm-7 hidden-xs" style="margin-left:-50px;" >
						
						<div class="dropdown" style="color:#fff;padding-right:30px;display:inline;padding-top:-7px;">
						  <button style="background-color:transparent;border-style:none;color:#fff;font-size:14px;" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							LISTA DE ONGS
							<span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							<li><a href="/cadastroVoluntario">CADASTRO DE VOLUNTÁRIO</a></li>
							<li><a href="/cadastroOng">CADASTRO DE ONG</a></li>										
							<li role="separator" class="divider"></li>
							<li><a href="/aprendaOng">O que é uma ONG</a></li>
							<li><a href="/aprendaCriarOng">Como criar uma ONG</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="/sobre">SOBRE</a></li>
						  </ul>
						</div>
						<a data-toggle="modal" href="#modalLogin"><span style="color:#fff"><span class="glyphicon glyphicon-log-in"></span><b> &nbsp;Login<b></a>
					</div>
					<!--fim da barra de menu para tablet -->
					
					
				</div>
			</div>
		
		
		
			<!-- barra de pesquisa para tablet -->
			<div class="row " style="background-color:#e7e7e7;" >
				<div class="container">
					<div class="col-md-12 col-sm-12 hidden-xs text-left " style="">
						<div class="hidden-lg hidden-md col-sm-12 hidden-xs text-left" style="margin-left:-10px;padding-top:10px;height:50px;">
														
							<form name="frmPesquisarPadrinho">
								<span class="textobarrapesquisa">Cidade:</span></td>
								<input type="Text" name="Cidade" size="7" maxlength="100" />&nbsp;&nbsp;
								<span class="textobarrapesquisa">Tipo: </span>
								<select size="1" name="Tipo" style="height:27px;">
									<option value=""></option>          
									<option value="Animais">ONGs de Animais</option>        
									<option value="Apoio a Mulheres">ONGs de Apoio a Mulheres</option>        
									<option value="Arte">ONGs de Arte</option>        
									<option value="Crianças">ONGs de Crianças</option>        
									<option value="Cultura">ONGs de Cultura</option>        
									<option value="Dependentes Químicos">ONGs de Dependentes Químicos</option>        
									<option value="Direitos Humanos">ONGs de Direitos Humanos</option>        
									<option value="Doação de Órgãos">ONGs de Doação de Órgãos</option>        
									<option value="Educação">ONGs de Educação</option>        
									<option value="Educação Ambiental">ONGs de Educação Ambiental</option>        
									<option value="Finanças">ONGs de Finanças</option>        
									<option value="Geração de Renda">ONGs de Geração de Renda</option>        
									<option value="Idosos">ONGs de Idosos</option>        
									<option value="Medicamentos">ONGs de Medicamentos</option>        
									<option value="Meio Ambiente">ONGs de Meio Ambiente</option>        
									<option value="Moradia">ONGs de Moradia</option>        
									<option value="Outras">ONGs de Outras</option>        
									<option value="Reciclagem">ONGs de Reciclagem</option>        
									<option value="Saúde">ONGs de Saúde</option>        
									<option value="Situações de Emergência">ONGs de Situações de Emergência</option>        
									<option value="Tecnologia">ONGs de Tecnologia</option>        
									<option value="Trabalho">ONGs de Trabalho</option>        
									<option value="Voluntariado">ONGs de Voluntariado</option>        
								</select>&nbsp;
								<input type="submit" style="background-color:#f0ad4e;border-style:none;" class="btn btn-md btn-primary" value="Filtrar" name="Btn" >
							</form>

						</div>
					</div>
				</div>
			</div>
			<!-- fim da barra de pesquisa para tablet -->


		</div>
		
		

		<!-- para celular -->
		<div class="hidden-lg hidden-md hidden-sm col-xs-12" >
			<nav class="navbar navbar-default"  role="navigation" style="margin-bottom:0px;">
		<div class="container-fluid" >
		
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" >
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			  <a  href="/"><img class="visible-xs" src="images/portal-logo.png" width="61" height="40" alt="Portal das Ongs" border="0" style="padding-top:5px;"></a>
			  
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			  <ul class="nav navbar-nav navbar-right">
				<li class="itemmenumobile"><a href="/cadastroVoluntario">Cadastro de Voluntário</a></li>
				<li class="itemmenumobile"><a href="/cadastroOng"><span class="itemmenu">Cadastro de ONG</span></a></li>
				<li class="itemmenumobile"><a href="/aprendaOng"><span class="itemmenu">O que é uma ONG</span></a></li>
				<li class="itemmenumobile"><a href="/aprendaCriarOng"><span class="itemmenu">Como criar uma ONG</span></a></li>
				<li class="itemmenumobile"><a href="/sobre"><span class="itemmenu">Sobre</span></a></li>
				<li class="itemmenumobile"><a data-toggle="modal" href="/#modalLogin"><span class="itemmenu">Login</span></a></li>
			  </ul>
			</div><!-- /.navbar-collapse -->
		
		</div><!-- /.container-fluid -->
	<!-- </div> -->
	</nav>

	<div class="row text-center" style="background-color:#f0ad4e;padding-top:5px;padding-bottom:5px;">
		<a href="\" target="_blank"><img src="images/icone_facebook_branco.png" width="30" height="30" border="0" alt="facebook portal das ongs"></a>&nbsp;&nbsp;
		<a href="\" target="_blank"><img src="images/icone_instagram_branco.png" width="30" height="30" border="0" alt="instagram portal das ongs"></a>&nbsp;&nbsp;
		<a href="\" target="_blank"><img src="images/icone_twitter_branco.png" width="30" height="30" border="0" alt="twitter portal das ongs"></a>&nbsp;&nbsp;
		
	</div>
			<div class="separador15linhas"></div>
			<div class="separador15linhas"></div>
			<div class="separador15linhas"></div>
		</div>
		
	</div>	
	</div><!-- para desktop -->
	<div class="col-md-12 hidden-sm hidden-xs text-center"  style="padding-top:17px;" >
		<div class="separador15linhas"></div>
		<div class="separador30linhas"></div>
		<div class="separador30linhas"></div>
	</div>

	<!-- para tablet -->
	<div class="hidden-lg hidden-md col-sm-12 hidden-xs text-center"  style="padding-top:20px;" >
		<div class="separador15linhas"></div>
		<div class="separador30linhas"></div>
	</div>

	<div class="separador15linhas"></div>
	<div class="separador15linhas"></div>
	
	<!-- Começa cadastro formuladio -->
	
	<div class="container">
	
			<h1 align="center" >CADASTRO DE ONG</h1>
					<fieldset>
					<form action="/cadastrarvoluntario/salvar" method="POST">
						<div class="panel-body">
							<br>
							<legend>Dados da Instituição - ONG</legend>
							<div class="row">
								<div class="col-md-4">
									<label for="nomeFantasia">Nome Fantasia</label>
									<input type="text" class="form-control" id="nomeFantasia" name="nomeFantasia">
								</div>
								<div class="col-md-4">
									<label for="razaoSocial">Razão Social</label>
									<input type="text" class="form-control" id="razaoSocial" name="razaoSocial">
								</div>
								<div class="col-md-4 cpf">
									<label for="cnpj">CNPJ</label>
									<input type="text" class="form-control" id="cnpj" name="cnpj">
								</div>								
							</div>
							
							<div class="row">
								<div class="col-md-4">
									<label for="telefone1">Telefone 1</label>
									<input type="text" class="form-control" id="telefone1" name="telefone1">
								</div>
								
								<div class="col-md-4">
									<label for="telefone2">Telefone 2</label>
									<input type="text" class="form-control" id="telefone2" name="telefone2">
								</div>
									
								<div class="col-md-4">
									<label for="dtNascimento">Data de fundação</label>
									<input type="text" class="form-control calendario" id="dtFundacao" name="dtFundacao" readonly="readonly">
								</div>
								
								<div class="col-md-4">
									<label for="email">Email</label>
									<input type="text" class="form-control" id="email" name="email">
								</div>
								
								<div class="col-md-4">
									<label for="areaAtuacao">Área de atuação</label>
									<select class="form-control" id="areaAtuacao">
										<option value="">Selecione</option>         
											   	<option value="Animais">ONG de Animais</option>        
												
												<option value="Apoio a Mulheres">ONG de Apoio a Mulheres</option>        
												
												<option value="Arte">ONG de Arte</option>        
												
												<option value="Crianças">ONG de Crianças</option>        
												
												<option value="Cultura">ONG de Cultura</option>        
												
												<option value="Dependentes Químicos">ONG de Dependentes Químicos</option>        
												
												<option value="Direitos Humanos">ONG de Direitos Humanos</option>        
												
												<option value="Doação de Órgãos">ONG de Doação de Órgãos</option>        
												
												<option value="Educação">ONG de Educação</option>        
												
												<option value="Educação Ambiental">ONG de Educação Ambiental</option>        
												
												<option value="Finanças">ONG de Finanças</option>        
												
												<option value="Geração de Renda">ONG de Geração de Renda</option>        
												
												<option value="Idosos">ONG de Idosos</option>        
												
												<option value="Medicamentos">ONG de Medicamentos</option>        
												
												<option value="Meio Ambiente">ONG de Meio Ambiente</option>        
												
												<option value="Moradia">ONG de Moradia</option>        
																							
												<option value="Reciclagem">ONG de Reciclagem</option>        
												
												<option value="Saúde">ONG de Saúde</option>        
												
												<option value="Situações de Emergência">ONG de Situações de Emergência</option>        
												
												<option value="Tecnologia">ONG de Tecnologia</option>        
												
												<option value="Trabalho">ONG de Trabalho</option>        
												
												<option value="Voluntariado">ONG de Voluntariado Diversos</option>        
									</select>
								</div>
																
								<div class="col-md-4">
									<label for="site">Site da instituição</label>
									<input type="text" class="form-control" id="site" name="site">
								</div>
							
							</div>
							
							<br>
							<legend>Dados do Responsável</legend>
							<div class="row">
								<div class="col-md-6">
									<label for="nomeVoluntario">Nome completo</label>
									<input type="text" class="form-control" id="nomeVoluntario" name="nomeVoluntario">
								</div>
								<div class="col-md-4">
									<label for="dtNascimento">Data de nascimento</label>
									<input type="text" class="form-control calendario" id="dtNascimento" name="dataNascimetno" readonly="readonly">
								</div>
								<div class="col-md-2">
									<label for="radioSexo">Sexo</label>
									<div>
										<label class="radio-inline"><input type="radio" name="radioSexo" value="F">Feminino</label>
									</div>
									<div>
										<label class="radio-inline"><input type="radio" name="radioSexo" value="M">Masculino</label>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<label for="estadoCivil">Estado Civil</label>
									<select class="form-control" id="estadoCivil" name="estadoCivil">
										<option value="">Selecione</option>
										<option value="solteiro">Solteiro(a)</option>
										<option value="casado">Casado(a)</option>
										<option value="divorciado">Divorciado(a)</option>
										<option value="viuvo">Viúvo(a)</option>
										<option value="separado">Separado(a)</option>
									</select>
								</div>								
								
								<div class="col-md-4">
									<label for="escolaridade">Escolaridade</label>
									<select class="form-control" id="escolaridade" name="escolaridade">
										<option value="">Selecione</option>
										<option value="analfabeto">Analfabeto(a)</option>
										<option value="fundamentalInomp">Fundamental - Incompleto</option>
										<option value="fundamentoalComp">Fundamental - Completo</option>
										<option value="medioIncomp">Médio - Incompleto</option>
										<option value="medioComp">Médio - Completo</option>
										<option value="superiorIncomp">Superior - Incompleto</option>
										<option value="superiorComp">Superior - Completo</option>
										<option value="posIncomp">Pós-graduação - Incompleto</option>
										<option value="posComp">Pós-graduação - Completo</option>
										<option value="mestradoIncomp">Mestrado - Incompleto</option>
										<option value="mestradoComp">Mestrado - Completo</option>
										<option value="doutoradoIncomp">Doutorado - Incompleto</option>
										<option value="doutoradoComp">Doutorado - Completo</option>
									</select>
								</div>
								
								<div class="col-md-4">
									<label for="profissao">Profissão</label>
									<input type="text" class="form-control" id="profissao" name="profissao">
								</div>
							</div>
							
							<div class="row">
																			
								<div class="col-md-4 cpf">
									<label for="cpf">CPF</label>
									<input type="text" class="form-control" id="cpf" name="cpf">
								</div>
								
								<div class="col-md-4">
									<label for="email">Endereço de Email</label>
									<input type="text" class="form-control" id="email" name="email">
								</div>
							</div>
							<br>
							<legend>Endereço da Instituição</legend>
							<div class="row">
								<div class="col-md-6">
									<label for="logradouro">Logradouro</label>
									<input type="text" class="form-control" id="logradouro" name="logradouro">
								</div>
								<div class="col-md-2">
									<label for="numero">Número</label>
									<input type="text" class="form-control" id="numero" name="numero">
								</div>
								<div class="col-md-4">
									<label for="complemento">Complemento</label>
									<input type="text" class="form-control" id="complemento" name="complemento">
								</div>
							</div>
							
							<div class="row">
								<div class="col-md-3">
									<label for="bairro">Bairro</label>
									<input type="text" class="form-control" id="bairro" name="bairro">
								</div>
								<div class="col-md-3">
									<label for="cidade">Cidade</label>
									<input type="text" class="form-control" id="cidade" name="cidade">
								</div>
								<div class="col-md-3">
									<label for="estado">UF</label>
									<input type="text" class="form-control" id="estado" name="estado">
								</div>
								<div class="col-md-3">
									<label for="cep">CEP</label>
									<input type="text" class="form-control" id="cep" name="cep">
								</div>
							</div>

							<div class="separador15linhas"></div>

							<div class="btn-group">
								  <button type="submit" class="btn btn-default">Salvar</button>
								  <a href="/" class="btn btn-default" role="button">Voltar</a>
							</div>

					</form>
					</fieldset>
			</div>
	
	</div>
	<!-- FIM cadastro formuladio -->
	

	<div class="container-fluid">	

		<div class="row" style="background-color:#f0ad4e;padding-top:8px;padding-bottom:10px;height:50px;">
			<div class="col-md-12 col-sm-12 col-xs-12 text-center">
				<a href="/" target="_blank"><img src="images/icone_facebook_branco.png" border="0" width="35" height="35"></a>
				<a href="/" target="_blank"><img src="images/icone_twitter_branco.png" border="0" width="35" height="35"></a>
				<a href="/" target="_blank"><img src="images/icone_instagram_branco.png" border="0" width="35" height="35"></a>
			</div>
		
		</div>
		
		<div class="row" style="background-color:#000;padding-top:40px;padding-bottom:40px;">
			<div class="container">
				<div class="col-md-4 col-sm-4 col-xs-12 text-left" style="line-height:80%" >
					<p style="color:#f0ad4e;font-size:16px;"><b>Lista de ONGs</b></p>
					
					<p><a href="/"><span class="textorodape" style="color:#FFFFFF;">Lista de Ongs por Cidade</span></a></p>
					<p><a href="/"><span class="textorodape" style="color:#FFFFFF;">Lista de Ongs por Tipo</span></a></p>
					<p><a href="/"><span class="textorodape" style="color:#FFFFFF;">ONGs para Trabalho Voluntário</span></a></p>
					<p><a href="/"><span class="textorodape" style="color:#FFFFFF;">ONGs para Voluntariado Empresarial</span></a></p>

				</div>
				
				<div class="hidden-lg hidden-md hidden-sm col-xs-12">
						<div class="separador15linhas"></div>
						<div class="separador15linhas"></div>
					</div>
				
				<div class="col-md-4 col-sm-4 col-xs-12 text-left" style="line-height:80%" >
					<p style="color:#f0ad4e;font-size:16px;"><b>Portal das ONGs</b></p>
					<a href="/sobre"><p class="textorodape" style="color:#FFFFFF;"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Quem Somos</p></a>
					<a href="/enviarEmail"><p class="textorodape" style="color:#FFFFFF;"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Fale Conosco</p></a>
					<a href="/cadastroOng"><p class="textorodape" style="color:#FFFFFF;"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Cadastro ONG</p></a>
					<a href="/cadastroVoluntario"><p class="textorodape" style="color:#FFFFFF;"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Cadastro Voluntário</p></a>
					<a href="/"><p class="textorodape" style="color:#FFFFFF;"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Busca Avançada</p></a>
				</div>
				
				<div class="hidden-lg hidden-md hidden-sm col-xs-12">
					<div class="separador15linhas"></div>
					<div class="separador15linhas"></div>
				</div>
				
				<div class="col-md-4 col-sm-4 col-xs-12 text-left" >
				<img src="images/puc.png" border="0" width="75" height="53">&nbsp;
				<p><span class="glyphicon glyphicon-copyright-mark textorodape" aria-hidden="true" style="color:#FFFFFF;">PUC MINAS 2017,</span>
				<a href="https://github.com/Leonn3s/TI-TecWeb-Node.js" target="_blank"><span class="textorodape" style="color:#FFFFFF;">Repositório GITHUB</span></a></p>
				</div>
			</div>
		
		
		</div>
		
		
	</div>

    
	<!-- INICIO Login MODAL -->		
		<div class="modal fade" id="modalLogin" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header" style="padding:35px 50px;">
					  <button type="button" class="close" data-dismiss="modal">&times;</button>
					  <h4><span class="glyphicon glyphicon-lock"></span> Login</h4>
					</div>
					<div class="modal-body" style="padding:40px 50px;">
					  <form role="form">
						<div class="form-group">
						  <label for="usrname"><span class="glyphicon glyphicon-user"></span> Usuário de acesso</label>
						  <input type="text" class="form-control" id="usrname" placeholder="Enter email" required>
						</div>
						<div class="form-group">
						  <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Senha de acesso</label>
						  <input type="text" class="form-control" id="psw" placeholder="Enter password" required>
						</div>
						<div class="checkbox">
						  <label><input type="checkbox" value="" checked>Lembre-me</label>
						</div>
						  <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span>Login</button>
					  </form>
					</div>
					<div class="modal-footer">
					  <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
					  <p>Não possui login? <a href="#">Cadastre-se</a></p>
					  <p>Esqueceu <a href="#">a senha?</a></p>
					</div>
			    </div>
			</div>
		</div> 
	    <!-- FIM Login MODAL -->
	
</body>

<!-- Mirrored from www.portaldasongs.com.br/index.html Sun, 05 Nov 2017 14:48:08 GMT -->
</html>
