<!DOCTYPE html>
<html>

	<head>

		<title>
			Inserção Teste
		</title>

		<meta charset="utf-8">

	</head>

	<body>

		<h1> Adicionar Teste </h1>
		<br/>


		<form action="/teste/salvar" method="post" id="teste">

			<label>ID</label>
			<input type="number" name="cod" id="cod" placeholder="código da tabela teste" /> <br/>
			<label>Nome</label>
			<input type="text" name="nome" id="nome" placeholder="nome da tabela teste" /> <br/>	
			<input type="submit" vaalue="Enviar"/>		

		</form>


	</body>

</html>