<!DOCTYPE html>
    <html lang="pt-br">
        <head>
            <meta charset="utf-8"/>
            <title>Notícias</title>
        </head>
    <body>

        <h1>Teste Select</h1>

        <table>            
            <tr>
                <td>cod</td>
                <td>nome</td>                
            </tr>

            <% if(testeSelect) { %>
            <% for(var i = 0; i < testeSelect.length; i++){ %>
                
                <tr>
                    <td> <%= testeSelect[i].cod %> </td>
                    <td> <%= testeSelect[i].nome %> </td>
                   
                </tr>

            <% } %> <!-- fim for -->

            <% } %> <!-- fim if -->
        </table>

    </body>
</html>